.menu {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 20px;
}

.menu .submit {
    margin-left: 20px;
    width: 90px;
    color: white;
    background-color: #3c6382;

}

.menu .back-button {
    margin-left: -20px;
    max-width: 40px;
}

.menu .dropdown-button {
    background-color: #3c6382;
    border-color: white;
    color: white;
}

.menu .search {
    background-color: #547c9c;
    color: white;
    border-color: #547c9c;
    width: 50%;
}
.menu .search::placeholder {
    color: #3c6382;
}

@media only screen and (max-width: 1100px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .search-div .row {
        margin: 0;
        margin-top: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .search-div .row {
        margin: 0;
        margin-top: 10px;
    }
    .menu .submit {
        margin-left: 10px;
    }
  }