.card-title:hover {
   cursor: pointer;

}

.card-title {
    border-radius: 20px !important;

}

.titleAndCount {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.titleAndCount .card-title{
    max-width: 35%;
}

.card {
    width: 90%;
    display: flex;
    background-color: #547c9c;
    color: white;
}

.progress-bar {
    background-color: #1289A7;
}

.alert {
    background-color: #1289A7;
    
}

.alert p {
    color: white;
    
}

.rounded {
    border-radius: 10px !important
}