.card-title:hover {
   cursor: pointer;

}

.card-title {
    font-weight: bold;
}

.titleAndCount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 90%;
    display: flex;
    background-color: #547c9c;
    color: white;
}

.progress-bar {
    background-color: #1289A7;
}

.alert {
    background-color: #1289A7;
    text-align: center;
    max-width: auto;
}

.alert p {
    color: white;
    margin-left: -20%;
    margin-right: -20%;
}

.rounded {
    border-radius: 10px !important
}