.card-title:hover {
   cursor: pointer;
}

.titleAndCount {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.titleAndCount .card-title{
    max-width: 35%;
}

.card {
    width: 90%;
    display: flex;
}
