.navbar {
    background-color: black;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    cursor: pointer;
}

.btn {
    background-color: transparent;
    color: white;
}

.btn:hover {
    background-color: transparent;
    color: white;
}

.btn .link:visited {
    text-decoration: none;
    color: white;
}

.btn .link:hover {
    text-decoration: none;
}